SGX_AGENT_IP={{ sgx_agent }}
CMS_IP={{ cms }}
AAS_IP={{ aas }}
{% if setup == 'secure-key-caching' or setup == 'sgx-orchestration-kubernetes' or setup == 'sgx-orchestration-openstack' or setup == 'sgx-attestation-kubernetes' or setup == 'sgx-attestation-openstack' %}
SHVS_IP={{ shvs }}
{% endif %}
SCS_IP={{ scs }}

CMS_PORT={{ cms_port }}
AAS_PORT={{ aas_port }}
{% if setup == 'secure-key-caching' or setup == 'sgx-orchestration-kubernetes' or setup == 'sgx-orchestration-openstack' or setup == 'sgx-attestation-kubernetes' or setup == 'sgx-attestation-openstack' %}
SHVS_PORT={{ shvs_port }}
{% endif %}
SCS_PORT={{ scs_port }}

AGENT_USER={{ sgxagent_admin_username }}
AGENT_PASSWORD={{ sgxagent_admin_password }}

CMS_TLS_SHA={{ cmstlscertsha384_csp }}
