AAS_TLS_SAN={{ aas }},{{ aas_hostname }}
AAS_API_URL=https://{{ aas }}:{{ authservice_port }}/aas/v1
SAN_LIST={{ cms }},{{ cms_hostname }}
http_proxy={{http_proxy}}
https_proxy={{https_proxy}}
no_proxy={{no_proxy}},{{ ansible_default_ipv4.address }},{{ ansible_hostname }},{{groups['Enterprise'] | join(',')}},{{groups['Node'] | join(',')}}
