AAS_IP={{ aas_enterprise }}
AAS_PORT={{ aas_port }}

SKC_USER={{ skclib_admin_username }}
SKC_USER_PASSWORD={{ skclib_admin_password }}

ADMIN_USERNAME={{ aas_admin_username }}
ADMIN_PASSWORD={{ aas_admin_password }}

PERMISSION="{{ permissions }}"
