KBS_HOSTNAME={{kbs_hostname}}
KBS_IP={{ kbs }}

SKC_USER={{skclib_admin_username}}
SKC_USER_PASSWORD={{skclib_admin_password}}
CMS_IP={{ cms_enterprise }}
AAS_IP={{aas_enterprise}}

CSP_SCS_IP={{scs}}
CSP_CMS_IP={{ cms }}

ADMIN_USERNAME={{aas_admin_username}}
ADMIN_PASSWORD={{aas_admin_password}}
PERMISSION="{{permissions}}"
