KBS_HOSTNAME={{ kbs_hostname }}
KBS_IP={{ kbs }}
KBS_PORT={{ kbs_port }}

CMS_IP={{ cms_enterprise }}
CMS_PORT={{ cms_port }}

CSP_SCS_IP={{ scs }}
CSP_SCS_PORT={{ scs_port }}

CSP_CMS_IP={{ cms }}
CSP_CMS_PORT={{ cms_port }}

SKC_USER={{ skclib_admin_username }}

SKC_TOKEN={{ skc_library_bootstrap_token.content }}
