CMS_IP={{ cms_enterprise }}
KBS_IP={{ kbs }}

KBS_HOSTNAME={{kbs_hostname}}

CSP_SCS_IP={{scs}}
CSP_CMS_IP={{ cms }}

SKC_USER={{skclib_admin_username}}

SKC_TOKEN={{skc_library_bootstrap_token.content}}

