SQVS_PORT={{sqvs_port}}
{% if setup == 'sgx-attestation-kubernetes' or setup == 'sgx-attestation-openstack' or setup == 'sgx-attestation-no-orchestration' %}
SQVS_INCLUDE_TOKEN=false
{% else %}
SQVS_INCLUDE_TOKEN=true
{% endif %}
SAN_LIST={{sqvs}},{{sqvs_hostname}}
CMS_BASE_URL=https://{{cms}}:{{cms_port}}/cms/v1/
SCS_BASE_URL=https://{{scs}}:{{scs_port}}/scs/sgx/certification/v1
AAS_API_URL=https://{{aas}}:{{aas_port}}/aas/v1
CMS_TLS_CERT_SHA384={{cmstlscertsha384.stdout}}
SGX_TRUSTED_ROOT_CA_PATH=/tmp/trusted_rootca.pem
BEARER_TOKEN={{setup_admin_token}}
